* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* cac gia tri mau */



}
html {
    font-family: Helvetica, Arial, sans-serif;
    background: #000;
}

#main {

}

.header {
    height: 54px;
    width:100%;
    background-color:#000;
    box-sizing: border-box;
    padding: 0 20px 0 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.nav {
    display: inline-block;
}

.header .ti-tumblr-alt {
    line-height: 54px;
    color: #fff;
    margin-right: 8px;
    font-size:33px
}

.header .nav-search {
    display: inline-block;
    height: 27px;
}

.header .form-search {
    line-height:27px;
    border-radius: 4px;
    width: 480px;
    float: right;
    background-color: rgba(255, 255, 255, 0.25);
    margin-top: -4px;
}

.header .icon-search {
    color: rgba(255, 255, 255, 0.65);
    margin: 0 2px 0 12px;
    font-size: 18px;
    line-height: 34px;
    font-weight: bold;
}

input {
    color: rgba(255, 255, 255, 0.65);
    background-color: rgba(0, 0, 0, 0);
    font-size: 17px;
    width: 448px;
    padding: 5px;
    line-height: 24px;
    position: absolute;
    border: 0;
    border-color: rgba(255, 255, 255, 0.25);
}

input:focus{
    outline: none;
    color: #fff;
}

.header .list {
    height: 100%;
    float: right;
}


.header .icons-nav {
    color: rgba(255, 255, 255, 0.65);
    font-size: 28px;
    line-height:54px;
}

.header .icon {
    margin: 0 16px;
    font-size: 22px;
    line-height:32px;
}


.header .create {
    display: inline-block;
    width: 45px;
    margin: 0 2px 0 18px;
    background-color:rgb(0, 184, 255);
    border-radius:3px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}

.header .create i {
    color: #000;
    font-size: 22px;
}


.content {
    box-sizing: border-box;
    max-width: 990px;
    padding: 0 8px;
    width: 100%;
    margin: 94px auto 0;
    height: 1000px;
}

.content .content-main {
    display: inline-block;
    max-width: 625px;
    width: 100%;
}

.header-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;

}

.content .header-image {
    display: inline-block;
    width: 64px;
    position: relative;
    margin-right: 20px;
}

.content .content-header {
    display: inline-block;
    position: absolute;
}

.content .header-icons {
    background: rgb(34,34,34);
    border-radius:3px;
    color:#fff;
    display: inline-block;
    padding: 15px 5px;
    margin-bottom: 20px;
    min-height: 100px;
    width: 540px;
}

.content .icons-post {
    padding-top:5px;
    display: flex;
    list-style-type: none;
    width: 100%;
}

.icons-post li {
    /* display: table-cell; */
    width: 100%;
}

.icon-post {
    height: 74px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px 0;
    box-sizing: border-box;
} 

.icon-post i {
    font-size:35px;
    margin-bottom: 5px;
}

.icon-post span {
    /* margin-top:5px; */
    font-size: 16px;
}

/* Mobile nav */
.list-icons-mobile {
    width: 360px;
    max-width: 100%;
    min-height:800px;
    background-color: #000;
    text-align:left;
}
.icons-nav-mobile{
    margin-left: 15px;

}
.list-icons-mobile li{
    font-size: 16px;
    padding: 14px 0px;
    position: relative;
}
.icons-nav-mobile {
    color: #FFF;
    list-style: none;
}
.icons-nav-mobile li i {
    margin-right: 21px;
}
.icons-nav-mobile li span {
}
.create-mobile{
    background-color: rgb(0, 184, 255);
    border-radius:5px;
    color: #000;
    text-align: center;
    padding: 8px;
    width: 200px;
    margin: 0 64px 0 78px;
}
.create-mobile span {
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}

.icons-nav-mobile .blog {
    font-weight: bold;
    font-size: 18px;
    padding: 0;
    margin-top: 14px;
}
.icons-nav-mobile li > p {
    float: right;
    margin-right: 14px;
    color: rgba(255, 255, 255, 0.65);
}
.icons-nav-mobile li > img {
    width: 37px;
    border-radius: 3px;
}
.icons-nav-mobile li .user-blogs {
    display: inline-block;
    margin-left: 8px;
    line-height:24px;
}
.icons-nav-mobile .user-blogs {

}
li > div > p {
    color: rgba(255, 255, 255, 0.65);
}
li > div > i {
    position: absolute;
    right: -2%;
    top: 0;
    transform: translateY(150%);
    color: rgba(255, 255, 255, 0.65);
    margin-right: 4px;
}
.icons-nav-mobile p>i {
    margin-right: 0px;
}

.content .content-seletion {
    width:100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.content-seletion a{
    padding: 14px 16px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.content .content-blogs {
    margin-top: 130px;
}

.content-blogs .img-user img {
    width: 64px;
    border-radius: 3px;
    margin-right: 20px;
}

.blog {
    display: flex;
    margin-bottom: 24px;
}
.blog-content {
    background: rgb(34, 34, 34);
    width: 540px;
    border-radius: 3px;
    height: auto;
    padding: 15px 0px;
    color: #fff;
}
.header-blog {
    display: flex;
    position: relative;
    margin-bottom: 15px;
    padding: 0 20px;
}

.header-blog h4 {
    font-size: 14px;
}

.header-blog i {
    color: rgba(255, 255, 255, 0.65);
    position: absolute;
    right: 0;
    font-size: 21px;
    padding-right: 20px;
}

.header-blog h4 i {
    left: 11%;
    font-size: 15px;
    position: relative;
}

.header-blog .p-reblog {
    position: absolute;
    top: 0;
    left: 19%;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.13);
}

.body-blog span{ 
    color: rgba(255, 255, 255, 0.65);
}


.body-blog img {
    width: 100%;
}
.body-blog p{ 
    margin-bottom: 15px;
    line-height: 1.5;
    padding: 0 20px;
}

.body-blog .p-hastag {
    color: rgba(255, 255, 255, 0.65);
    padding: 0 20px;
}

.body-header-blog {
    display: flex;
    padding: 16px 20px 5px;
    line-height:54px;
}

.body-header-blog img {
    width: 25px;
    height: 25px;
    border-radius: 3px;
}

.body-header-blog p {
    padding:1px 8px;
    font-size: 14px;
    font-weight: bold;
}

.body-header-blog a {
    text-decoration: none;
    line-height: 25px;
    color: #00B8FF;
    font-weight: bold;
    font-size: 14px;
}

.footer-blog {
    display: flex;
    padding: 12px 0px 5px 20px;
    position: relative;
    color: rgba(255, 255, 255, 0.65);
}

.footer-blog .reacts {
    position: absolute;
    right: 0;
}

.footer-blog p {
    
    font-weight: bold;
}

.footer-blog .reacts li {
    display: inline-block;
    margin-left: 20px;
    font-size: 21px;
    cursor: pointer;
}

.footer-blog .reacts li:last-child {
    margin-right: 20px;
}

.content .content-beside {
    float: right;
    max-width: 320px;
    padding-left: 10px;
    width: 100%;
}

.content .content-common {

}


.content-beside .beside-text {
    padding: 0 10px 10px;
    margin-bottom: 2px;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.13);
}
.content-beside .beside-text h2 {
    color: #fff;
    font-weight: 500;
}

.list-followers {
    margin-top: 16px;
}

.item-follower {
    padding: 8px 10px;
    display: flex;
    max-width: 100%;
}

.item-follower img{
    width: 37px;
    height: 37px;
    border-radius: 2px;
}

.item-follower .info-item {
    color: #fff;
    font-size: 14px;
    padding-left: 14px;
    line-height: 1.5;
    position: relative;
}

.item-follower .info-item p {
    color: rgba(255, 255, 255, 0.65);
}

.btn {
    display: flex;
    position: absolute;
    top: 0;
    transform: translateX(160%);
}

.item-follower .btn-delete,
.item-follower .btn-follow {
    line-height: 48px;
}

.item-follower .btn-follow {
    padding: 0 8px;
    font-size: 14px;
    margin-right: 14px;
}

.item-follower .btn-follow a{
    text-decoration: none;
    color: #00B8FF;
    font-weight: bold;
}

.item-follower .btn-delete {
    padding-right: 10px;
    font-weight: bolder;
    cursor: pointer;
}

.item-follower .btn-delete i{
    color: rgba(255, 255, 255, 0.65);
}

.btn-explore {
    margin-top:32px;
}

.btn-explore a{
    text-decoration: none;
    color: #00B8FF;
}

.footer {
    position:fixed;
    display: inline-block;
    bottom: 0;
    margin-bottom: 24px;
}

.footer li {
    display: inline;
    color: #00B8FF;
    font-size: 14px;
    margin-right: 12px;
}
.selection-subnav{
    display: none;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open {
    display: flex;
}
.modal-container{
    height:100%;
    position: relative;
}
.modal-body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-icons{
    margin-top: 30px;
    color:#fff;
    text-align: center;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.modal-icons li {
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
}
.modal-icons i {
    width:100px;
    height:100px;
    border-radius: 50%;
    color: #000;
    font-size: 35px;
    line-height: 100px;
    margin-bottom: 12px;
}

@media (max-width: 740px) {
    .content .content-beside,
    .content-main .header-icons, 
    .content-main .header-image,
    .nav-search .form-search{
        display: none;
    }
    .header {
        text-align: center;
        border-bottom:none;
    }
    
    .icons-nav {
        display: none;
    }
    /* .header {
        height: 105px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    } */
    .header .ti-tumblr-alt{
        font-size: 25px;
        margin-left: 26px;
    }
    .menu-btn-bar {
        display: block;
    }
    .menu-btn-bar {
        color: rgba(255, 255, 255, 0.65);
        position: absolute;
        left: 0;
        font-size: 25px;
        padding: 3px 8px;
        margin: 12px;
    }
    .header .icon-search-mobile {
        position: absolute;
        right: 4%;
        top: 35%;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.65);
        font-size: 18px;
        font-weight: 900;
    }
    .selection-subnav {
        display: inline-block;
        width: 100%;
        margin-top: 54px;
        position: relative;
    }
    .content-seletion-mobile {
        padding-bottom: 14px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.13);
        background-color: #000;
        width: 100%;
    }

    .content-seletion-mobile a {
        text-align: center;
        width: 50%;
        padding: 12px 16px 0px;
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
        list-style: none;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }

    .content-seletion-mobile i {
        margin-left: 5px;
    }

    .subnav-more {
        background-color: rgb(34, 34, 34);
        width: 200px;
        border-radius: 3px;
        margin-right: 24px;
        margin-top: 60px;
        display:none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .subnav-more .subnav {
        box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    }

    .subnav-more .subnav li {
        list-style: none;
        padding: 7px 10px;
        text-align: center;
    }

    .subnav-more .subnav a {
        text-decoration: none;
        color: #fff;
    }
    .subnav-more.open{
        display: inline-block;
        /* margin-right: 0px; */
    }
    .content{
        padding: 0;
        margin: 5px auto 0;
        position: relative;
    }
    .content .content-seletion{
        display: none;
    }
    .content .content-main{
        width: 100%;
    }
    .content .content-blogs {
        margin-top: 0px;
        position: relative;
    }

    .content-blogs .img-user img{
        position: absolute;
        width: 38px;
        margin: 10px;
    }
    .blog {
        margin-bottom: 8px;
        margin-top: 8px;
        position: relative;
    }
    .blog-content{
        border-radius: 0;
    }
    .header-blog {
        margin-left: 38px;
        line-height:24px;
    }
    .header-blog .p-reblog {
        left: 29%;
    }
    .body-blog .p-hastag,
    .body-blog p{
        padding: 0 10px;
    }
    .footer-blog {
        padding-left: 10px;
    }
    .content-header{
        width: 100%;
    }

}
